---
# Enforce C++17 features
Language: Cpp
Standard: c++17

# Use 4 spaces for indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: None
IndentCaseLabels: true

# Braces configuration (Stroustrup style)
BreakBeforeBraces: Stroustrup
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: true
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceInEmptyParentheses: false

# Line breaking
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
ColumnLimit: 100
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false

# Includes
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^/]*>$'
    Priority: 1
  - Regex: '^<.*>$'
    Priority: 2
  - Regex: '.*'
    Priority: 3

# Other formatting options
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
